/* global*/
@import url('package:google_fonts/google_fonts.dart');

.grid-2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

body{
  margins: 0;
  padding: 0;
  font-family: 'rubik';
  back-ground-color: #E05300;
  color: #000000;
}

h2,.white{
  color: #FFFFFF
}

a{
  color: #7A7C80;
  text-decoration: none;
}
